__pycache__
.venv

*.egg-info/

# Built as part of docs
doc/auto_examples
doc/_build

#apps and docs
apps/BlueMuse_2.3.0.0
docs/books


# Built by auto_examples
examples/visual_cueing/*.csv

# tests/coverage artifacts
.coverage
coverage.xml
htmlcov

# PyCharm
.idea/

# csv
FYP/data_backup/*
FYP/data_ordered/*
FYP/data/*
FYP/data/AudioVisual/1/1/eeg.csv
FYP/data/AudioVisual/1/1/markers.csv
FYP/data/AudioVisual/1/1/synched_data.csv
